# Import données et librairies

In [4]:
#import librairies
import pandas as pd
import numpy as np

In [14]:
#import données
eval=pd.read_csv("extrait_eval.csv")
sirh=pd.read_csv("extrait_sirh.csv")
sondage=pd.read_csv('extrait_sondage.csv')

# Nettoyage Données

## Etude fichier eval

In [23]:
eval.head()

,satisfaction_employee_environnement,note_evaluation_precedente,niveau_hierarchique_poste,satisfaction_employee_nature_travail,satisfaction_employee_equipe,satisfaction_employee_equilibre_pro_perso,eval_number,note_evaluation_actuelle,heure_supplementaires,augementation_salaire_precedente
0,2,3,2,4,1,1,E_1,3,Oui,11 %
1,3,2,2,2,4,3,E_2,4,Non,23 %
2,4,2,1,3,2,3,E_4,3,Oui,15 %
3,4,3,1,3,3,3,E_5,3,Oui,11 %
4,1,3,1,2,4,3,E_7,3,Non,12 %

In [25]:
eval.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 10 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   satisfaction_employee_environnement        1470 non-null   int64
 1   note_evaluation_precedente                 1470 non-null   int64
 2   niveau_hierarchique_poste                  1470 non-null   int64
 3   satisfaction_employee_nature_travail       1470 non-null   int64
 4   satisfaction_employee_equipe               1470 non-null   int64
 5   satisfaction_employee_equilibre_pro_perso  1470 non-null   int64
 6   eval_number                                1470 non-null   object
 7   note_evaluation_actuelle                   1470 non-null   int64
 8   heure_supplementaires                      1470 non-null   object
 9   augementation_salaire_precedente           1470 non-null   object
dtypes: int64(7), object(3)
memory usage: 115.0+ KB

In [30]:
eval.describe()

,satisfaction_employee_environnement,note_evaluation_precedente,niveau_hierarchique_poste,satisfaction_employee_nature_travail,satisfaction_employee_equipe,satisfaction_employee_equilibre_pro_perso,note_evaluation_actuelle
count,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000
mean,2.721769,2.729932,2.063946,2.728571,2.712245,2.761224,3.153741
std,1.093082,0.711561,1.106940,1.102846,1.081209,0.706476,0.360824
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3.000000
25%,2.000000,2.000000,1.000000,2.000000,2.000000,2.000000,3.000000
50%,3.000000,3.000000,2.000000,3.000000,3.000000,3.000000,3.000000
75%,4.000000,3.000000,3.000000,4.000000,4.000000,3.000000,3.000000
max,4.000000,4.000000,5.000000,4.000000,4.000000,4.000000,4.000000

In [32]:
eval['satisfaction_employee_environnement'].value_counts()

satisfaction_employee_environnement
3    453
4    446
2    287
1    284
Name: count, dtype: int64

In [34]:
eval['note_evaluation_precedente'].value_counts()

note_evaluation_precedente
3    868
2    375
4    144
1     83
Name: count, dtype: int64

In [36]:
eval['niveau_hierarchique_poste'].value_counts()

niveau_hierarchique_poste
1    543
2    534
3    218
4    106
5     69
Name: count, dtype: int64

In [38]:
eval['satisfaction_employee_nature_travail'].value_counts()

satisfaction_employee_nature_travail
4    459
3    442
1    289
2    280
Name: count, dtype: int64

In [40]:
eval['satisfaction_employee_equipe'].value_counts()

satisfaction_employee_equipe
3    459
4    432
2    303
1    276
Name: count, dtype: int64

In [42]:
eval['satisfaction_employee_equilibre_pro_perso'].value_counts()

satisfaction_employee_equilibre_pro_perso
3    893
2    344
4    153
1     80
Name: count, dtype: int64

In [46]:
eval['note_evaluation_actuelle'].value_counts()

note_evaluation_actuelle
3    1244
4     226
Name: count, dtype: int64

In [48]:
eval['heure_supplementaires'].value_counts()

heure_supplementaires
Non    1054
Oui     416
Name: count, dtype: int64

Les données de ce fichier semblent propres. une note sur 5 (niveau hiérarchique) et des notes sur 4. Avec un booléen pour les heures supplémentaires et un pourcentage pour l'augmentation de salaire. 
A noter, la note évaluation actuelle est soit 4 soit 3: on pourra simplifier en variable binaire.

## Etude fichier sirh

In [53]:
sirh.head()

,id_employee,age,genre,revenu_mensuel,statut_marital,departement,poste,nombre_experiences_precedentes,nombre_heures_travailless,annee_experience_totale,annees_dans_l_entreprise,annees_dans_le_poste_actuel
0,1,41,F,5993,Célibataire,Commercial,Cadre Commercial,8,80,8,6,4
1,2,49,M,5130,Marié(e),Consulting,Assistant de Direction,1,80,10,10,7
2,4,37,M,2090,Célibataire,Consulting,Consultant,6,80,7,0,0
3,5,33,F,2909,Marié(e),Consulting,Assistant de Direction,1,80,8,8,7
4,7,27,M,3468,Marié(e),Consulting,Consultant,9,80,6,2,2

In [55]:
sirh.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 12 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id_employee                     1470 non-null   int64
 1   age                             1470 non-null   int64
 2   genre                           1470 non-null   object
 3   revenu_mensuel                  1470 non-null   int64
 4   statut_marital                  1470 non-null   object
 5   departement                     1470 non-null   object
 6   poste                           1470 non-null   object
 7   nombre_experiences_precedentes  1470 non-null   int64
 8   nombre_heures_travailless       1470 non-null   int64
 9   annee_experience_totale         1470 non-null   int64
 10  annees_dans_l_entreprise        1470 non-null   int64
 11  annees_dans_le_poste_actuel     1470 non-null   int64
dtypes: int64(8), object(4)
memory usage: 137.9+ KB

In [59]:
sirh['genre'].value_counts()

genre
M    882
F    588
Name: count, dtype: int64

In [61]:
sirh['statut_marital'].value_counts()

statut_marital
Marié(e)       673
Célibataire    470
Divorcé(e)     327
Name: count, dtype: int64

Pas de non-binaire ou et seulement 3 statuts maritaux